<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- verify checksum of each record when reading a hex file -->
    <add key="VerifyChecksum" value="1"/>
  </appSettings>
</configuration>
